.header {
  line-height: 30px;
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.h3 {
  padding: 0 0.5rem 0;
  text-align: center;
}

.h4 {
  font-weight: 300;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
}

.product {
  width: 350px;
  border-radius: 8px;
  margin-bottom: 40px;
  overflow: hidden;
  align-self: flex-start;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.productImg {
  width: 350px;
  object-fit: scale-down;
  border-bottom: 1px solid #d6d6d6;
}

.productImgFilterSold {
  width: 350px;
  object-fit: scale-down;
  filter: grayscale(1);
  opacity: 0.4;
  border-bottom: 1px solid #d6d6d6;
}

.productImgFilterNotAvailable {
  width: 350px;
  object-fit: scale-down;
  filter: grayscale(1);
  opacity: 0.4;
  border-bottom: 1px solid #d6d6d6;
}

.productImgFilterReserved {
  width: 350px;
  object-fit: scale-down;
  opacity: 0.4;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  z-index: 1;
}

.product h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 18px 18px 25px 18px;
}

.productDetails {
  padding: 10px;
  position: relative;
  color: #373737;
}

.productDetails ul {
  margin: 18px 18px 25px 18px;
}

.productDetails li {
  margin-bottom: 5px;
  list-style-position: inside;
}

.product a:link {
  text-decoration: none;
  cursor: pointer;
}

.discount {
  height: 64px;
  width: 64px;
  line-height: 64px;
  background-color: var(--background-discount);
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: -48px;
  right: 10px;
}

.price {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background-color: var(--background-price);
  text-align: left;
  padding-left: 18px;
  font-size: 24px;
  width: 100%;
  cursor: pointer;
}

.available {
  position: relative;
  /* top: 200px; */
  background-color: var(--background-available);
  /* height: 50px; */
  width: 100%;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 27px;
  /* transform: rotate(-30deg); */
}

.icon {
  width: 26px;
  height: 26px;
}

.payment {
  position: relative;
  /* top: 200px; */
  background-color: transparent;
  /* height: 50px; */
  width: 100%;
  color: #fff;
  text-align: right;
  font-size: 24px;
  cursor: pointer;
  border: 0;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  /* transform: rotate(-30deg); */
}

.sold {
  /* top: 200px; */
  background-color: var(--background-reserved);
  /* height: 50px; */
  width: 100%;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 27px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  z-index: 2;
}

.notavailable {
  /* top: 200px; */
  background-color: var(--background-notavailable);
  /* height: 50px; */
  width: 100%;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 27px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  z-index: 2;
}

.reserved {
  /* top: 200px; */
  background-color: var(--background-reserved);
  /* height: 50px; */
  width: 100%;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 27px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  z-index: 2;
}

.boxPrice {
  display: flex;
  font-size: 18px;
}

.box {
  display: flex;
  width: 50%;
  font-size: 18px;
  background-color: var(--background-pay);
  align-items: center;
  padding: 0 16px;
}

.productSpan {
  position: relative;
}
